<section id="register" class="mb-[16px] bg-white p-[16px] rounded-lg shadow">
  <h2 class="text-center text-[24px] text-[#1F2627] my-[8px] font-bold">
    Register Now
  </h2>

  <form [formGroup]="registerForm">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label
        >
        <input
          type="text"
          id="name"
          [class]="inputStyle"
          placeholder="John"
          formControlName="name"
        />
        <div *ngIf="controls['name'].touched">
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['name'].hasError('pattern')"
          >
            Only alphabets, space, and dot are allowed.
          </div>
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['name'].hasError('required')"
          >
            Name is required.
          </div>
        </div>
      </div>
      <div>
        <label
          for="father_name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Father name</label
        >
        <input
          type="text"
          id="father_name"
          [class]="inputStyle"
          placeholder="Doe"
          formControlName="fatherName"
          required
        />
        <div *ngIf="controls['fatherName'].touched">
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['fatherName'].hasError('pattern')"
          >
            Only alphabets, space, and dot are allowed.
          </div>
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['fatherName'].hasError('required')"
          >
            Name is required.
          </div>
        </div>
      </div>
      <div>
        <label
          for="mother_name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Mother Name</label
        >
        <input
          type="text"
          id="mother_name"
          [class]="inputStyle"
          placeholder="Name"
          formControlName="motherName"
        />
        <div *ngIf="controls['motherName'].touched">
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['motherName'].hasError('pattern')"
          >
            Only alphabets, space, and dot are allowed.
          </div>
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['motherName'].hasError('required')"
          >
            Name is required.
          </div>
        </div>
      </div>
      <div>
        <label
          for="phone"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Phone number</label
        >
        <input
          type="tel"
          id="phone"
          formControlName="mobile"
          [class]="inputStyle"
          placeholder="123-45-678"
        />
        <div *ngIf="controls['mobile'].touched">
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['mobile'].hasError('pattern')"
          >
            Input valid phone number
          </div>
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['mobile'].hasError('required')"
          >
            Phone number is required.
          </div>
        </div>
      </div>
      <div>
        <label
          for="dob"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Date of Birth</label
        >
        <input
          type="date"
          id="dob"
          [class]="inputStyle"
          formControlName="dob"
        />
        <div *ngIf="controls['dob'].touched">
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['dob'].hasError('required')"
          >
            Date of birth is required.
          </div>
        </div>
      </div>
      <div>
        <label
          for="gender"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Gender</label
        >
        <ul
          class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
        >
          <li
            class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
          >
            <div class="flex items-center pl-3">
              <input
                id="horizontal-list-radio-license"
                type="radio"
                value="M"
                name="gender"
                formControlName="gender"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label
                for="horizontal-list-radio-license"
                class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Male
              </label>
            </div>
          </li>
          <li
            class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
          >
            <div class="flex items-center pl-3">
              <input
                id="horizontal-list-radio-id"
                type="radio"
                value="F"
                name="gender"
                formControlName="gender"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label
                for="horizontal-list-radio-id"
                class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Female</label
              >
            </div>
          </li>
        </ul>
        <div *ngIf="controls['gender'].touched">
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['gender'].hasError('required')"
          >
            Gender is required.
          </div>
        </div>
      </div>
      <div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Select Category</label
        >
        <select
          formControlName="activities"
          id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm placeholder-black rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-black-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="0" disabled selected>
            Pick your favorite Activity
          </option>
          <option value="yoga">Yoga</option>
          <option value="dance">Dance</option>
          <option value="karate">Karate</option>
          <option value="skating">Skating</option>
          <option value="drawing">Drawing</option>
          <option value="boxing">Boxing</option>
          <option value="swimming">Swimming</option>
          <option value="gym">Gym</option>
        </select>
        <div *ngIf="controls['activities'].touched">
          <div
            *ngIf="controls['activities'].hasError('required')"
            class="text-red-500 text-[12px]"
          >
            Please Select Category
          </div>
        </div>
      </div>
      <div>
        <label
          for="address"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Address</label
        >
        <textarea
          formControlName="address"
          id="address"
          rows="1"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Address..."
        ></textarea>
        <div *ngIf="controls['address'].touched">
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['address'].hasError('pattern')"
          >
            Only alphabets, numbers, space, / and - are allowed.
          </div>
          <div
            class="text-red-500 text-[12px]"
            *ngIf="controls['address'].hasError('required')"
          >
            Addrss is required.
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <button
        [ngClass]="
          registerForm.invalid
            ? 'cursor-not-allowed opacity-50'
            : 'cursor-pointer opacity-100'
        "
        [disabled]="registerForm.invalid"
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="onSubmit()"
      >
        Register Now
      </button>
    </div>
  </form>
</section>
