<section id="contact">
  <h2 class="text-center text-[32px] text-[#1F2627] my-[8px] font-bold">
    Contact US
  </h2>
  <div class="flex justify-center items-center px-[16px] flex-col">
    <form>
      <div class="form-control w-full">
        <label class="label"><span class="label-text">Name</span></label>
        <input
          type="text"
          placeholder="Type here"
          class="input input-primary w-[80vw] max-w-[600px]"
        />
      </div>
      <div class="form-control w-full">
        <label class="label"><span class="label-text">Mobile</span></label>
        <input
          type="text"
          placeholder="Enter your phone number"
          class="input input-primary w-[80vw] max-w-[600px]"
        />
      </div>
      <div class="form-control w-full">
        <label class="label"><span class="label-text">Email</span></label>
        <input
          type="email"
          placeholder="Enter your email"
          class="input input-primary w-[80vw] max-w-[600px]"
        />
      </div>
      <div class="form-control w-full">
        <label class="label"><span class="label-text">Activity</span></label>
        <select class="select select-primary w-[80vw] max-w-[600px]">
          <option disabled selected>Pick your favorite Activity</option>
          <option>Yoga</option>
          <option>Dance</option>
          <option>Karate</option>
          <option>Skating</option>
          <option>Drawing</option>
          <option>Boxing</option>
          <option>Swimming</option>
          <option>Gym</option>
        </select>
      </div>
    </form>
    <a href="#register" class="btn mt-[24px]">Register Now</a>
  </div>
</section>

<!-- The button to open modal -->
<!-- Put this part before </body> tag -->
<div class="modal" id="register">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Thank You for the Interest</h3>
    <p class="py-4">Online Registration Functionality will be available soon.</p>
    <div class="modal-action">
     <a href="#" class="btn">Close</a>
    </div>
  </div>
</div>