<div class="mt-2 flex flex-wrap justify-center items-center gap-4">
  <!-- Comments -->
  <a
    href="#"
    class="flex h-20 w-40 flex-col items-center justify-center rounded-md border border-[#183367] transition-colors duration-100 ease-in-out hover:border-[#3d2259]"
  >
    <div class="flex flex-row items-center justify-center">
      <svg
        class="mr-3 fill-gray-500/95"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12,23A1,1 0 0,1 11,22V19H7A2,2 0 0,1 5,17V7A2,2 0 0,1 7,5H21A2,2 0 0,1 23,7V17A2,2 0 0,1 21,19H16.9L13.2,22.71C13,22.89 12.76,23 12.5,23H12M13,17V20.08L16.08,17H21V7H7V17H13M3,15H1V3A2,2 0 0,1 3,1H19V3H3V15M9,9H19V11H9V9M9,13H17V15H9V13Z"
        />
      </svg>

      <span class="font-bold text-[#8CAEF2]"> {{ totalUsers }} </span>
    </div>

    <div class="mt-2 text-sm text-[#A1A0AB]">Users</div>
  </a>

  <!-- Projects -->
  <a
    href="#"
    class="flex h-20 w-40 flex-col items-center justify-center rounded-md border border-[#183367] transition-colors duration-100 ease-in-out hover:border-[#3d2259]"
    style="rgba(23, 92, 230, 0.15) 0px 4px 24px;"
  >
    <div class="flex flex-row items-center justify-center">
      <svg
        class="mr-3 fill-gray-500/95"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M2.5 19.6L3.8 20.2V11.2L1.4 17C1 18.1 1.5 19.2 2.5 19.6M15.2 4.8L20.2 16.8L12.9 19.8L7.9 7.9V7.8L15.2 4.8M15.3 2.8C15 2.8 14.8 2.8 14.5 2.9L7.1 6C6.4 6.3 5.9 7 5.9 7.8C5.9 8 5.9 8.3 6 8.6L11 20.5C11.3 21.3 12 21.7 12.8 21.7C13.1 21.7 13.3 21.7 13.6 21.6L21 18.5C22 18.1 22.5 16.9 22.1 15.9L17.1 4C16.8 3.2 16 2.8 15.3 2.8M10.5 9.9C9.9 9.9 9.5 9.5 9.5 8.9S9.9 7.9 10.5 7.9C11.1 7.9 11.5 8.4 11.5 8.9S11.1 9.9 10.5 9.9M5.9 19.8C5.9 20.9 6.8 21.8 7.9 21.8H9.3L5.9 13.5V19.8Z"
        />
      </svg>

      <span class="font-bold text-[#8CAEF2]"> 45 </span>
    </div>

    <div class="mt-2 text-sm text-[#A1A0AB]">Categories</div>
  </a>

  <!-- Projects -->
  <a
    href="#"
    class="flex h-20 w-40 flex-col items-center justify-center rounded-md border border-[#183367] transition-colors duration-100 ease-in-out hover:border-[#3d2259]"
  >
    <div class="flex flex-row items-center justify-center">
      <svg
        class="mr-3 fill-gray-500/95"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M5.68,19.74C7.16,20.95 9,21.75 11,21.95V19.93C9.54,19.75 8.21,19.17 7.1,18.31M13,19.93V21.95C15,21.75 16.84,20.95 18.32,19.74L16.89,18.31C15.79,19.17 14.46,19.75 13,19.93M18.31,16.9L19.74,18.33C20.95,16.85 21.75,15 21.95,13H19.93C19.75,14.46 19.17,15.79 18.31,16.9M15,12A3,3 0 0,0 12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12M4.07,13H2.05C2.25,15 3.05,16.84 4.26,18.32L5.69,16.89C4.83,15.79 4.25,14.46 4.07,13M5.69,7.1L4.26,5.68C3.05,7.16 2.25,9 2.05,11H4.07C4.25,9.54 4.83,8.21 5.69,7.1M19.93,11H21.95C21.75,9 20.95,7.16 19.74,5.68L18.31,7.1C19.17,8.21 19.75,9.54 19.93,11M18.32,4.26C16.84,3.05 15,2.25 13,2.05V4.07C14.46,4.25 15.79,4.83 16.9,5.69M11,4.07V2.05C9,2.25 7.16,3.05 5.68,4.26L7.1,5.69C8.21,4.83 9.54,4.25 11,4.07Z"
        />
      </svg>

      <span class="font-bold text-[#8CAEF2]"> 120K </span>
    </div>

    <div class="mt-2 text-sm text-[#A1A0AB]">Downloads</div>
  </a>
</div>

<div class="flex justify-between p-[16px]">
  <h3 class="text-[#306EE8]">User List</h3>
</div>

<div
  class="flex flex-col md:flex-row gap-[8px] md:justify-between md:items-center bg-[#51007C] p-[8px] m-[8px] rounded"
>
  <div class="relative">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-gray-500 dark:text-gray-400"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        ></path>
      </svg>
    </div>
    <input
      type="search"
      id="default-search"
      class="block w-full p-2 pl-10 text-sm max-w-[400px] text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search User"
      [(ngModel)]="searchValue"
      (input)="onSearch(searchValue)"
    />
  </div>
  <div class="flex flex-col sm:flex-row sm:items-center gap-[8px]">
    <button class="btn btn-primary btn-sm" (click)="addUser()">
      Create New User
    </button>
    <button class="btn btn-primary btn-sm" (click)="exportexcel()">
      <svg
        class="download-icon"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="download-arrow"
          d="M13 9L9 13M9 13L5 9M9 13V1"
          stroke="#F2F2F2"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M1 17V18C1 18.7956 1.31607 19.5587 1.87868 20.1213C2.44129 20.6839 3.20435 21 4 21H14C14.7956 21 15.5587 20.6839 16.1213 20.1213C16.6839 19.5587 17 18.7956 17 18V17"
          stroke="#F2F2F2"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      Export Data to Excel
    </button>
  </div>
</div>

<div class="flex items-center justify-center" *ngIf="isFetching">
  <app-loader></app-loader>
</div>
<div class="overflow-x-scroll m-[8px] p-[16px]" *ngIf="!isFetching">
  <table
    class="table text-white"
    id="excel-table"
    *ngIf="filteredUsers.length > 0; else noUser"
  >
    <!-- head -->
    <thead class="text-white">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Mobile</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of filteredUsers; let i = index"
        class="hover hover:text-[#A1A0AB]"
        (click)="viewUser(user)"
      >
        <td>
          <div class="flex items-center space-x-3">
            <!-- <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img
                  src="/tailwind-css-component-profile-2@56w.png"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div> -->
            <div>
              <div class="font-bold">{{ user.name | titlecase }}</div>
            </div>
          </div>
        </td>
        <td>{{ user.activities }}</td>
        <td>{{ user.mobile }}</td>
        <th>
          <button class="btn btn-ghost btn-xs">details</button>
        </th>
      </tr>
    </tbody>
  </table>
  <ng-template #noUser>
    <div class="min-w-full h-[100px]">
      <div class="flex items-center justify-center text-white">
        No User Found
      </div>
    </div>
  </ng-template>
</div>
