<section id="about" class="my-[16px]">
    <h2 class="text-center text-[32px] my-[8px] font-bold">About US</h2>
    <div class="flex flex-col md:flex-row gap-[16px] my-[16px] justify-center items-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.008615643561!2d72.37885589999999!3d27.124538599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3940eb6f0b9527c5%3A0x718d96ddcc7fac13!2sThe%20Sports%20%26%20Cultural%20Academy%20Phalodi!5e0!3m2!1sen!2sin!4v1681731720972!5m2!1sen!2sin" width={600} height={450} allowFullScreen="" loading="lazy" referrerPolicy="no-referrer-when-downgrade"></iframe>
        <div class="flex flex-col">
            <div class="flex gap-[16px]">
                <span class="font-bold text-[24px]">The Sports Academy </span>
            </div>
            <div class="flex gap-[16px]">
                <span>Mobile: </span>
                <a class="font-bold" href="tel:9460963036">(+91) 9460963036</a>
            </div>
            <div class="flex gap-[16px]">
                <span>Address: </span>
                <span class="font-bold">The Sports & Cultural Academy<br/>
                    Adarsh Nagar, Pushkarna Bhawan <br />
                    Phalodi</span>
            </div>
        </div>
    </div>
</section>