<!-- <div class="carousel w-full h-[90vh]    ">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="/assets/img/dance.jpg" class="w-full" alt="dance" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="/assets/img/yoga.jpg" class="w-full" alt="yoga" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img src="/assets/img/drawing.jpg" class="w-full" alt="drawing" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div> -->
<section class="hero">
  <div class="video-container">
    <video autoplay [muted]="'muted'" loop preload="auto" height="250px">
      <source src="assets/img/promo.mp4" type="video/mp4">
    </video>
  </div>
</section>