<!-- <div class="carousel w-full h-[90vh]    ">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="/assets/img/dance.jpg" class="w-full" alt="dance" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="/assets/img/yoga.jpg" class="w-full" alt="yoga" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img src="/assets/img/drawing.jpg" class="w-full" alt="drawing" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div> -->
<section class="hero">
  <div class="hero min-h-screen" style="background-image: url(assets/img/tsaa.jpeg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-3xl font-bold text-[#FFE4C4]">Elevate Your Game, Embrace Excellence!</h1>
        <p class="mb-5 text-xl text-[#FFFAF0]">Unlock Your Athletic Potential at The Sports Academy: Where Champions Are Made!</p>
        <!-- <button class="btn btn-primary">Get Started</button> -->
      </div>
    </div>
  </div>
  <!-- <div class="video-container">
    <video [muted]="'muted'" autoplay loop preload height="100px">
      <source src="assets/img/promo.mp4" type="video/mp4">
    </video>
  </div> -->
</section>

<section class="stats-section m-[16px]">
  <h2 class="text-center text-[32px] text-[#1F2627] my-[8px] font-bold">
    Rewards & Recognitions
  </h2>
  <!-- <div class="stats bg-primary text-primary-content flex flex-col md:flex-row justify-center ">
    <div class="stat">
      <div class="stat-title text-xl">National Level Awards</div>
      <div class="stat-value">25+</div>
    </div>
    
    <div class="stat">
      <div class="stat-title">State Level Awards</div>
      <div class="stat-value">50+</div>
    </div>
    
  </div> -->
  <section class="bg-white dark:bg-gray-900 rounded">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
        <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">60+</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">Awards</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">45+</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">National Level</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">100+</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">State Level</dd>
            </div>
        </dl>
    </div>
  </section>
</section>

