<section class="hero">
  <div class="hero min-h-screen custom-bg">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-3xl font-bold text-[#FFE4C4]">
          Elevate Your Game, Embrace Excellence!
        </h1>
        <p class="mb-5 text-xl text-[#FFFAF0]">
          Unlock Your Athletic Potential at The Sports Academy: Where Champions
          Are Made!
        </p>
        <a href="#register" class="btn btn-primary">Register Now</a>
      </div>
    </div>
  </div>
</section>

<section class="stats-section m-[16px]">
  <h2 class="text-center text-[32px] text-[#1F2627] my-[8px] font-bold">
    Rewards & Recognitions
  </h2>
  <section class="bg-white dark:bg-gray-900 rounded">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <dl
        class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white"
      >
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">60+</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">Awards</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">45+</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">
            National Level
          </dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">100+</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">
            State Level
          </dd>
        </div>
      </dl>
    </div>
  </section>
</section>
