<section class="rounded-lg">
  <h2 class="text-center text-[24px] text-white my-[8px] py-[8px] font-bold">
    Highlights
  </h2>
  <div class="flex gap-[16px] px-[16px] flex-col sm:flex-row">
    <div class="mb-[16px] bg-white p-[16px] rounded-lg shadow text-xl">
      <h3 class="text-center text-xl mb-[8px] font-bold">Upcoming Events</h3>
    </div>
    <div class="mb-[16px] bg-white p-[16px] rounded-lg shadow">
      <h3 class="text-center text-xl mb-[8px] font-bold">In the News</h3>
      <div
        class="flex gap-[16px] items-stretch justify-between flex-col sm:flex-row flex-wrap flex-grow"
      >
        No News Items Added
      </div>
    </div>
  </div>
</section>
