/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #1F2627;
}

.label-text {
    font-weight: 500;
    font-size: 16px;
}